<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Formulário</title>
</head>

<body>
    <div class="col-8 m-auto pt-4 pb-2 text-center alert alert-primary">
        <h1>CADASTRAR ALUNO</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>

        <form name="form" id="form" action="{% if db %}/update/{{db.id}}{% else %}/create/{% endif %}" method="POST">
        {% csrf_token %}
        <!--{{form.as_p}}-->
        <div class="form-group mt-4">
            Nome: {{form.nome}}
        </div>

        <div class="form-group">
            CPF: {{form.cpf}}
        </div>

        <div class="form-group">
            Avaliação: {{form.avaliacao}}
        </div>

        <input type="submit" class="btn btn-primary" value="CADASTRAR">
        </form>
    </div>

    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
</body>

</html>